@use "./../Styles/_global.scss";

.site-header {
  display: none;
  @media (min-width: global.$mobile-breakpoint) {
    display: flex;
    position: absolute;
    width: 100vw;
    background-color: hsla(var(--clr-sky), 70%);
    color: hsl(var(--clr-dark-forest));

    align-items: center;
    justify-content: center;
    gap: 3vw;

    font-family: var(--ff-headings);
    font-weight: var(--fw-headings-extrabold);
    font-variant: small-caps;
    font-size: var(--fs-500);

    padding-block: 0.25em;

    a {
      text-decoration: none;
      color: inherit;
    }

    .header-decoration {
      height: 1.5em;
      margin-inline-end: 1.5em;
    }

    @media (prefers-color-scheme: dark) {
      background-color: hsla(var(--clr-dark-forest), 70%);
      color: hsl(var(--clr-white));
    }
  }
}
