@import "https://unpkg.com/open-props";

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors (hsl) "Wellfleet" */
  --clr-dark-forest: 199, 34%, 20%; // Dark Forest
  --clr-white: 31, 35%, 95%; // White
  --clr-deep-sky: 213, 61%, 50%; // Deep Sky
  --clr-beach: 31, 35%, 84%; // Beach
  --clr-sky: 205, 50%, 72%; // Sky
  --clr-sky-light: 205, 50%, 85%; // Use for gradients with Sky
  --clr-forest: 199, 34%, 29%; // Forest
  --clr-earth: 43, 10%, 52%; // Earth

  /* gradients */

  // --clr-white: 0, 0%, 99%;
  // --clr-accent: 210, 50%, 73%;

  /* font-sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-400: 1.25rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  //   font-family: 'Catamaran', sans-serif; // for headings, heros and menus
  // font-family: 'Merriweather Sans', sans-serif; // for body text
  --ff-sans: "Merriweather Sans", sans-serif;
  --ff-headings: "Catamaran", sans-serif;
  --font-family: var(--ff-sans);

  --fw-sans-light: 300;
  --fw-sans-regular: 400;
  --fw-sans-semibold: 600;

  --fw-headings-regular: 400;
  --fw-headings-semibold: 600;
  --fw-headings-extrabold: 800;
}

/* breakpoints */
$breakpoint-tablet: 768px;
$mobile-breakpoint: $breakpoint-tablet;

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Set up the body */
body {
  font-family: var(--ff-sans);
  line-height: 1.5;
  min-height: 100vh;
}
/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utilities           */
/* ------------------- */

.d-flex {
  display: flex;
}

.banner {
  box-shadow: var(--shadow-3);
  padding-inline: 0.5em;
  margin-inline: -0.5em;
}
.surface-light {
  color: hsl(var(--clr-dark-forest));
  background-color: hsl(var(--clr-beach));
}

.surface-light-gradient {
  color: hsl(var(--clr-dark-forest));
  background: linear-gradient(
    to right,
    hsl(var(--clr-white), 0.95),
    hsl(var(--clr-beach))
  );
}

.bg-light-gradient {
  background: linear-gradient(
    to right,
    hsl(var(--clr-white), 0.95),
    hsl(var(--clr-beach))
  );
}

.surface-light,
.surface-light-gradient {
  .banner {
    background: linear-gradient(
      to right,
      hsl(var(--clr-sky-light)),
      hsl(var(--clr-sky))
    );
  }
}

.social-icon {
  color: hsl(var(--clr-white));
  opacity: 75%;
}

.text-normal {
  font-family: var(--ff-sans);
  font-weight: var(--fw-sans-light);
  p {
    margin-block: 1em;
    font-weight: var(--fw-sans-light);
  }
  h3 {
    font-size: var(--fs-400);
  }
  a {
    color: hsl(var(--clr-deep-sky));
  }
}

p.text-normal {
  margin-block: 1em;
  font-weight: var(--fw-sans-light);
}

.heading {
  font-family: var(--ff-headings);
  font-weight: var(--fw-headings-semibold);
}

.hero {
  height: 70vh;
  min-height: 400px;
  overflow: hidden;
  display: flex;
  background-size: cover;
  background-position: center;
  &.hero_chga-4th {
    background-image: url("./../Assets/Images/Heroes/chga-U2-4th.jpg");
  }
  &.hero_heublein-ideal-clouds {
    background-image: url("./../Assets/Images/Heroes/heublein-ideal-clouds-hd.jpg");
  }

  &.hero_tanner-hiller-dragonfly {
    background-image: url("./../Assets/Images/Heroes/tanner-hiller-dragonfly-aloft.jpg");
  }

  &.hero_talcott-setup-area {
    background-image: url("./../Assets/Images/Heroes/talcott-setup-area.jpg");
  }

  &.hero_talcott-lz {
    background-image: url("./../Assets//Images/Heroes/talcott-lz.jpg");
  }

  &.hero_birds-flock-india {
    background-image: url("./../Assets/Images/Heroes/pexels-kunal-baroth-2007660.jpg");
  }

  .hero-text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-text {
    opacity: 60%;
    color: hsl(var(--clr-white));
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    font-family: var(--ff-headings);
    font-weight: var(--fw-headings-extrabold);
    letter-spacing: var(--font-letterspacing-1);
    font-size: 4rem;
    font-size: clamp(4rem, 3.2rem + 4vw, 8rem);
  }
}

.content-container {
  padding-inline: clamp(20px, calc(1.25rem + ((1vw - 3.2px) * 22.1875)), 375px);
  min-height: 0vw;
  padding-block: 2rem;
}

.mb-1 {
  margin-block-end: 1em;
}
.mb-2 {
  margin-block-end: 2em;
}

/* animations */

.anim_scale-fade {
  animation: var(--animation-scale-down) reverse,
    var(--animation-fade-out) reverse;
  animation-timing-function: var(--ease-squish-5);
  animation-duration: 1s;
}
.anim_slide-in-fade {
  animation: var(--animation-fade-in) forwards, var(--animation-slide-in-right);
  animation-timing-function: var(--ease-squish-3);
  animation-duration: 1s;
}

/* ------------------- */
/* Colors              */
/* ------------------- */
